In [1]:
import urllib as urlr
from bs4 import BeautifulSoup
import pandas as pd
import ssl
import numpy as np

# DataFrame dos Times e suas Cidades

In [2]:
req = urlr.request.Request('https://bolaamarelafc.com.br/clubes/clubes-do-brasil/rio-grande-do-sul/#', headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'})
html = urlr.request.urlopen(req)

In [3]:
bs = BeautifulSoup(html, 'html.parser')

In [4]:
linhas = bs.find_all('p', {'style':'text-align: center;'})
linhas.pop(-1)

In [5]:
apelido = []
nome = []
cidade = []
funda = []

In [6]:
for i in linhas:
  time = i.get_text(strip=True, separator='\n').splitlines()
  apelido.append(time[0])
  nome.append(time[1])
  cidade.append(time[2])
  funda.append(time[3])

In [7]:
funda = list(map(lambda x: x.replace("Fundação: ","") ,funda))
cidade = list(map(lambda x: x.replace("Município: ","") ,cidade))
#funda.replace("Fundação: ", "")

In [8]:
df = pd.DataFrame({'Apelido': apelido, 'Nome': nome, 'Cidade': cidade, 'Fundacao': funda})
df

,Apelido,Nome,Cidade,Fundacao
0,12 Horas,Esporte Clube 12 Horas,Porto Alegre,14/08/2001
1,14 de Julho de Passo Fundo,Grêmio Esportivo e Recreativo 14 de Julho,Passo Fundo,27/06/1921
2,15 de Campo Bom,Clube 15 de Novembro,Campo Bom,15/11/1911
3,Aimoré,Clube Esportivo Aimoré,São Leopoldo,26/03/1936
4,Americano,Sport Club Americano,Porto Alegre,04/07/1912
...,...,...,...,...
66,Tupi,Tupi Futebol Clube,Crissiumal,01/05/1949
67,União Frederiquense,União Frederiquense de Futebol,Frederico Westphalen,03/08/2010
68,União Harmonia,União Harmonia Futebol Clube,Canoas,23/05/1954
69,Veranópolis,Veranópolis Esporte Clube Recreativo e Cultural,Veranópolis,15/01/1992
70,Ypiranga,Ypiranga Futebol Clube,Erechim,18/08/1924

# DataFrame dos campeões

In [9]:
context = ssl._create_unverified_context()
url = 'https://pt.wikipedia.org/'
path = urlr.parse.quote('wiki/Campeonato_Gaúcho_de_Futebol')
page = urlr.request.urlopen(url + path, context=context)

In [10]:
bs1 = BeautifulSoup(page, 'html.parser')

In [11]:
table = bs1.find_all('table', {'style':'width:80%; font-size:90%'})

In [12]:
table1 = table[1]
table0 = table[0]

In [13]:
table_body = table1.find('tbody')
rows = table_body.find_all('tr')
table_body0 = table0.find('tbody')
rows0 = table_body0.find_all('tr')

In [14]:
rows.pop(0)

<tr>
<th width="3%">Edição
</th>
<th width="5%">Ano
</th>
<th width="21%">Campeão
</th>
<th width="21%">Vice-campeão
</th>
<th width="21%">Terceiro colocado
</th>
<th width="21%">Quarto colocado
</th>
<th width="21%">Artilheiro(s)
</th>
<th width="3%">Gols
</th></tr>

In [15]:
rows0.pop(0)

<tr>
<th width="3%">Edição
</th>
<th width="5%">Ano
</th>
<th width="21%">Campeão
</th>
<th width="21%">Vice-campeão
</th>
<th width="21%">Terceiro colocado
</th>
<th width="21%">Quarto colocado
</th>
<th width="21%">Artilheiro(s)
</th>
<th width="3%">Gols
</th></tr>

In [16]:
del rows0[4:6]

In [17]:
edicao = []
ano = []
primeiro = []
segundo = []
terceiro = []
quarto = []
artilheiro = []
gols = []

In [18]:
for i in rows0:
  time = i.get_text().splitlines()
  edicao.append(time[1])
  ano.append(time[3])
  primeiro.append(time[5])
  segundo.append(time[7])
  terceiro.append(time[9])
  quarto.append(time[11])
  artilheiro.append(time[13])
  gols.append(time[15])

for i in rows:
  time = i.get_text().splitlines()
  edicao.append(time[1])
  ano.append(time[3])
  primeiro.append(time[5])
  segundo.append(time[7])
  terceiro.append(time[9])
  quarto.append(time[11])
  artilheiro.append(time[13])
  gols.append(time[15])

In [19]:
df1 = pd.DataFrame({'Edicao': edicao, 'Ano': ano, 'Primeiro': primeiro,
                    'Segundo': segundo, 'Terceiro': terceiro, 'Quarto': quarto,
                    'Artilheiro' : artilheiro, 'N_de_gols' : gols})
df1

,Edicao,Ano,Primeiro,Segundo,Terceiro,Quarto,Artilheiro,N_de_gols
0,1ª,1919(detalhes),Brasil de Pelotas (1),Grêmio,—,—,ProençaBrasil de Pelotas,3
1,2ª,1920(detalhes),Guarany de Bagé (1),Grêmio,Uruguaiana,—,GreccoGuarany de Bagé,2
2,3ª,1921(detalhes),Grêmio (1),Riograndense,Brasil de Pelotas,Uruguaiana,MosquitoRiograndense,3
3,4ª,1922(detalhes),Grêmio (2),Guarani de Alegrete,Guarany de Cruz Alta,Bagé,LagartoGrêmio,5
4,5ª,1925(detalhes),Bagé (1),Grêmio,Guarany de Cruz Alta,Grêmio Santanense,PascoalitoBagé,?
...,...,...,...,...,...,...,...,...
97,98ª,2018(detalhes),Grêmio (37),Brasil de Pelotas,São José-RS,Avenida,Michel São Luiz,8
98,99ª,2019(detalhes),Grêmio (38),Internacional,Caxias,São Luiz,Marcão/Rafael Gava São Luiz/Caxias,6
99,100ª,2020(detalhes),Grêmio (39),Caxias,Internacional,Esportivo,Diego Souza Grêmio,9
100,101ª,2021(detalhes),Grêmio (40),Internacional,Juventude,Caxias,Diego Souza Grêmio,7
101,102ª,2022(detalhes),Grêmio (41),Ypiranga de Erechim,Internacional,Brasil de Pelotas,ErickYpiranga de Erechim,6

# DataFrame das Cidades

In [17]:
context = ssl._create_unverified_context()
url = 'https://pt.wikipedia.org/'
path = urlr.parse.quote('wiki/Lista_de_municípios_do_Rio_Grande_do_Sul_por_população')
page = urlr.request.urlopen(url + path, context=context)

In [18]:
bs2 = BeautifulSoup(page, 'html.parser')

In [87]:
table1 = bs2.find('table').find_all('tr')

In [88]:
table1.pop(0)
table1.pop()

<tr>
<td>º</td>
<td><b>Total</b></td>
<td><b>10 693 929</b></td>
<td><b>11 466 630</b>
</td></tr>

In [62]:
for i in table1:
    if 'colspan' in i:
        del(table1[i])

In [64]:
for i in table1:
    if pd.isnull(i):
        del(table1[i])

In [107]:
cidade = []
pop_2010 = []
pop_2021 = []
micro = []
meso = []

In [108]:
for i in table1:
    if len(i) > 2:
        city = i.get_text().splitlines()
        cidade.append(city[2])
        if(city[3] == ''):
            p = 1
        else:
            p=0
        pop_2010.append(city[3+p])
        pop_2021.append(city[4+p])
        micro.append(city[5+p])
        meso.append(city[6+p])

In [111]:
df2 = pd.DataFrame({'Cidade': cidade, 'Populacao_2010': pop_2010,
                    'Populacao_2021': pop_2021, 'Microrregioes' : micro, 
                    'Mesorregioes' : meso})
df2

,Cidade,Populacao_2010,Populacao_2021,Microrregioes,Mesorregioes
0,Porto Alegre,1 450 555,1 492 530,Porto Alegre,Metropolitana
1,Caxias do Sul,437 889,523 716,Caxias do Sul,Nordeste
2,Canoas,"323,827",349 728,Porto Alegre,Metropolitana
3,Pelotas,"328,275",343 826,Pelotas,Sudeste
4,Gravataí,255 660,285 564,Porto Alegre,Metropolitana
...,...,...,...,...,...
492,André da Rocha,1 216,1 351,Guaporé,Nordeste
493,Carlos Gomes,1 607,1 327,Erechim,Noroeste
494,Porto Vera Cruz,1 852,1 258,Santa Rosa,Noroeste
495,União da Serra,1 487,1 084,Guaporé,Nordeste
496,Engenho Velho,1 530,932,Frederico Westphalen,Noroeste

# Exportando os DataFrames

In [20]:
#from google.colab import files

ModuleNotFoundError: No module named 'google.colab'

In [112]:
df.to_csv(r'times_gauchos.csv', index = False, header=True,encoding = 'utf-8-sig')
df1.to_csv(r'campeonatos_gauchos.csv', index = False, header=True,encoding = 'utf-8-sig')
df2.to_csv(r'cidades_gauchas.csv', index = False, header=True)
#files.download('times_gauchos.csv')
#files.download('campeonatos_gauchos.csv')